{{- $name := promptStringOnce . "git_name" "Git author name" -}}
{{- $email := promptStringOnce . "git_email" "Git author email" -}}
[data]
    git_name = {{ $name | quote }}
    git_email = {{ $email | quote }}
