[ -f ~/.zprofile ] && source ~/.zprofile

export VISUAL=hx
export EDITOR="$VISUAL"

HISTFILE=~/.zsh_history
HISTSIZE=100000
SAVEHIST=100000
setopt SHARE_HISTORY HIST_IGNORE_DUPS HIST_IGNORE_SPACE EXTENDED_HISTORY HIST_REDUCE_BLANKS

{{ if ne .chezmoi.os "darwin" -}}
fpath+=(~/.local/share/zsh/plugins/zsh-completions/src)
{{ end -}}
autoload -Uz compinit
compinit -d ~/.cache/zcompdump
zstyle ':completion:*' menu select
zstyle ':completion:*' matcher-list 'm:{a-zA-Z}={A-Za-z}'

eval "$(mise activate zsh)"

eval "$(zoxide init zsh)"
eval "$(atuin init zsh --disable-up-arrow)"
eval "$(direnv hook zsh)"
eval "$(starship init zsh)"
{{ if eq .chezmoi.os "darwin" -}}
[ -f ~/.local/share/sheldon/plugins.lock ] && eval "$(sheldon source)"
{{- else -}}
ZPLUG=~/.local/share/zsh/plugins
[ -f $ZPLUG/zsh-autosuggestions/zsh-autosuggestions.zsh ] && source $ZPLUG/zsh-autosuggestions/zsh-autosuggestions.zsh
[ -f $ZPLUG/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh ] && source $ZPLUG/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
{{- end }}
command -v fzf >/dev/null && source <(fzf --zsh)

alias ls='eza --git --icons=auto'
alias ll='eza -lah --git --icons=auto'
alias lt='eza --tree --level=2 --git-ignore'
alias cat='bat --paging=never'
alias top='btop'
alias du='dua'

{{ if eq .chezmoi.os "linux" -}}
if [[ -z "$DBUS_SESSION_BUS_ADDRESS" ]] && command -v dbus-run-session >/dev/null; then
    export $(dbus-run-session gnome-keyring-daemon --start 2>/dev/null)
fi

mlguard() { sudo systemd-run --scope -p MemoryMax=110G -p MemorySwapMax=0 --uid="$(id -u)" --gid="$(id -g)" "$@"; }
{{ end -}}
keychain() { chezmoi secret keyring get --service="$1" --user="${2:-$USER}"; }
