Include ~/.ssh/config.d/*.conf

Host *
  AddKeysToAgent yes
{{ if eq .chezmoi.os "darwin" }}  UseKeychain yes
{{ end }}  IdentityFile ~/.ssh/id_ed25519
  IdentitiesOnly yes

Host github.com
  HostName github.com
  User git
