Include ~/.ssh/config.d/*.conf

Host *
  AddKeysToAgent yes
{{ if eq .chezmoi.os "darwin" }}  UseKeychain yes
{{ end }}  IdentityFile ~/.ssh/id_ed25519
  IdentitiesOnly yes

Host github.com
  HostName github.com
  User git

{{ if eq .chezmoi.os "darwin" -}}
# Reach the DGX Spark over Tailscale
Host spark
  HostName 100.119.207.8
  User indrajeetadityaroy
{{ else -}}
# Reach the MacBook over Tailscale (set 'User <mac-username>' if it differs from $USER)
Host macbook
  HostName 100.108.216.116
{{ end -}}
