setopt EXTENDED_GLOB

HISTFILE="$XDG_STATE_HOME/zsh/history"
[[ -d ${HISTFILE:h} ]] || mkdir -p -- "${HISTFILE:h}"
HISTSIZE=100000
SAVEHIST=100000
setopt EXTENDED_HISTORY HIST_IGNORE_DUPS HIST_IGNORE_SPACE HIST_REDUCE_BLANKS
setopt HIST_VERIFY INC_APPEND_HISTORY

ZPLUGDIR="$HOME/.local/share/zsh/plugins"
fpath=("$ZPLUGDIR/zsh-completions/src" $fpath)

autoload -Uz compinit
_zcompdump="$XDG_CACHE_HOME/zsh/zcompdump-$ZSH_VERSION"
[[ -d ${_zcompdump:h} ]] || mkdir -p -- "${_zcompdump:h}"
if [[ -n ${_zcompdump}(#qN.mh+24) ]]; then
  compinit -d "$_zcompdump"
else
  compinit -C -d "$_zcompdump"
fi
unset _zcompdump

zstyle ':completion:*' menu select
zstyle ':completion:*' matcher-list 'm:{a-zA-Z}={A-Za-z}'
zstyle ':completion:*' use-cache on
zstyle ':completion:*' cache-path "$XDG_CACHE_HOME/zsh/zcompcache"

eval "$(mise activate zsh)"

(( $+commands[zoxide]   )) && eval "$(zoxide init zsh)"
(( $+commands[atuin]    )) && eval "$(atuin init zsh --disable-up-arrow)"
(( $+commands[direnv]   )) && eval "$(direnv hook zsh)"
(( $+commands[starship] )) && eval "$(starship init zsh)"

(( $+commands[fzf] )) && source <(fzf --zsh)

[[ -r $ZPLUGDIR/zsh-autosuggestions/zsh-autosuggestions.zsh ]] &&
  source "$ZPLUGDIR/zsh-autosuggestions/zsh-autosuggestions.zsh"

[[ -r $ZPLUGDIR/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh ]] &&
  source "$ZPLUGDIR/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh"

alias ls='eza --git --icons=auto --group-directories-first'
alias ll='eza -lah --git --icons=auto --group-directories-first'
alias lt='eza --tree --level=2 --git-ignore'
alias cat='bat --paging=never'
(( $+commands[btop] )) && alias top='btop'
alias dui='dua interactive'

secret() { chezmoi secret keyring get --service="$1" --user="${2:-$USER}"; }
{{ if eq .chezmoi.os "linux" }}
mlguard() {
  sudo systemd-run --scope \
    -p MemoryMax="${MLGUARD_MAX_MEM:-110G}" -p MemorySwapMax=0 \
    --uid="$(id -u)" --gid="$(id -g)" "$@"
}

if [[ -z $GNOME_KEYRING_CONTROL ]] && (( $+commands[gnome-keyring-daemon] )); then
  eval "$(gnome-keyring-daemon --start 2>/dev/null)" && \
    export GNOME_KEYRING_CONTROL SSH_AUTH_SOCK
fi
{{- end }}

[[ -r $ZDOTDIR/zshrc.local ]] && source "$ZDOTDIR/zshrc.local"
