[user]
	name = {{ .git_name | quote }}
	email = {{ .git_email | quote }}
	signingkey = ~/.ssh/id_ed25519.pub

[init]
	defaultBranch = main
	templateDir = ~/.config/git/template
[core]
	excludesFile = ~/.config/git/ignore
	fsmonitor = true
	untrackedCache = true
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true

[commit]
	gpgsign = true
	verbose = true
[tag]
	gpgsign = true
	sort = version:refname
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.config/git/allowed_signers

[transfer]
	fsckObjects = true

[push]
	autoSetupRemote = true
	followTags = true
[pull]
	rebase = true
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
	missingCommitsCheck = error
[fetch]
	prune = true
	pruneTags = true
[rerere]
	enabled = true
	autoUpdate = true

[maintenance]
	strategy = geometric

[merge]
	conflictStyle = zdiff3
[diff]
	algorithm = histogram
	colorMoved = default
	tool = difftastic
[difftool]
	prompt = false
[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"
[pager]
	difftool = true
[branch]
	sort = -committerdate
[column]
	ui = auto
[help]
	autocorrect = prompt

[credential]
	helper = osxkeychain

[url "git@github.com:"]
	pushInsteadOf = https://github.com/

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[include]
	path = config.local
